@import url("https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap");
 
* {
  box-sizing: border-box;
}
body {
  background-color: rgb(128, 134, 228);
  font-family: "Freckle Face", system-ui;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.btn {
  background-color: rgb(246, 237, 255);
  border-radius: 5px;
  border: none;
  color: #1d0a34;
  margin: 1rem;
  padding: 1.5rem 3rem;
  font-size: 1.2rem;
  font-family: inherit;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.9;
}

.btn:focus {
  outline: none;
}